h1 {
  color: green;
}

/*#profPic {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}*/

#blue {
  color: blue;
}

#prof {
  border-radius: 50%;
}

#following {
  float: right;
  margin-top: -45px;
}

.glyphicon-heart {
  margin-top: 15px;
  margin-left: 17px;
  font-size: 28px;
  color: #fff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.glyphicon-comment {
  font-size: 28px;
  color: #fff;
  margin-left: 15px;
  text-shadow: -2px 2px black, 2px 2px black, 2px 2px black, 2px -2px black;
}

#l {
  margin-left: 18px;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

#side {
  position: relative;
  left: 68px;
  top: -30px;
}

#inline {
  display: inline;
}

#seeall {
  float: right;
}

#loginpanel {
  width: 350px;
  margin-top: 140px;
  border-radius: 0px;
}

#login {
  width: 260px;
  background-color: #3897f0;
  font-size: 15px;
  color: #fff;
}

#panelbody {
  width: 290px;
  margin-left: 30px;
  border-radius: 0px;
}

#showd {
  border-style: solid;
  border-width: 0.20px;
  width: 350px;
  border-color: #ddd;
}

.margin-top {
  margin-top: 10px;
}

#getapp {
  margin-top: 24px;
  margin-left: 105px;
  font-size: 16px;
}

.stores {
  margin-top: 20px;
  display: inline-block;
}

#stores {
  padding-left: 35px;
  padding-right: 30px;
}

#imgd {
  margin-top: 74px;
  margin-left: 130px;
}

#copyright {
  margin-top: 40px;
  color: #999;
}

#myCarousel {
  position: absolute;
  top: 26%;
  left: 52.5%;
}

#signup {
  color: #999;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin-left: 30px;
}

#singup2 {
  color: #999;
  font-weight: bold;
  font-size: ;
  display: inline-block; 
}

#facebook {
  background-color: #3897f0;
  width: 280px;
  margin-top: 10px;
  color: #fff;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 25px;
}

#icon {
  font-size: 20px;
  margin-right: 5px;
}

#signuppanel {
  width: 390px;
  margin-top: 50px;
  border-radius: 0px;
}

#insta {
  margin-left: 11px;
}

#signupbody {
  width: 308px;
  margin-top: 14px;
  margin-left: 42px;
  border-radius: 0px;
}

#signup2 {
  background-color: #3897f0;
  width: 280px;
  margin-top: 10px;
  color: #fff;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 25px; 
}

#showd2 {
  border-style: solid;
  border-width: 0.20px;
  width: 390px;
  border-color: #ddd;
}

#copyright2 {
  margin-top: 60px;
  color: #999;
}

#navbarinsta {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  position: fixed;
  z-index: 4;
}

#buttonheader {
  background-color: transparent;
  color: #000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #003569;
  border-radius: 0px;
  margin-left: 84%;
}

#igig {
  font-size: 36px;
}

#imgtop {
  margin-top: 7px;
}

#searchform {
  margin-top: 3.2%;
  margin-left: 73.8%;
}

#input {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  font-size: 15px;
  padding-left: 40%;
}

#searchbutton {
  border-style: none;
  background-color: transparent;
  margin-left: -150px;
}

#searchfont {
  color: #ccc;
}

#badcamp {
  font-size: 25px;
  color: #fff;
  margin-top: 6.5%;
  margin-right: 5%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#material {
  font-size: 27px;
  color: #fff;
  margin-top: 6.5%;
  margin-right: 5%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#user {
  font-size: 25px;
  color: black;
  margin-top: 6.5%; 
}

#headingcolor {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}

#inline {
  display: inline;
  margin-left: 8px;
  color: #000;
  font-weight: bold;
}

#profimage {
  display: inline;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#postimage {
  height: 580px;
  width: 690px;
}

#bodyp {
  padding: 0px;
}

#downdown {
  margin-top: 100px;
}

#ccolor {
  color: grey;
  margin-left: 17px;
}

#default {
  width: 610px;
}

#tt {
  padding-top: 130px;
  width: 100%;
}

#left {
  padding-left: 85px;
}

#default2 {
  width: 20%;
  height: 90%;
  margin-left: -45px;
  border-style: none;
  position: fixed;
}

#tagbar {
  padding-left: 0px;
}

#postimage2 {
  height: 80px;
  width: 200px;
}

#profimage2 {
  display: inline-block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#story {
  display: inline-block;
  color: grey;
  font-weight: bold;
}

#watch {
  display: inline-block;
  color: #000;
  font-weight: bold;
  float: right;
}

#headingcolor2 {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  border-style: none;
}

.hr {
  border: none;
  height: 1px;
  color: grey; /* old IE */
  background-color: #ddd; /* Modern Browsers */
}

.grey {
  color: grey;
}

#inline2 {
  display: inline-block;
  float: ;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

#upup {
  margin-bottom: 12px;
}

#scroll {
  overflow: scroll;
}