h1 {
  color: green;
}

/*#profPic {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}*/

#blue {
  color: blue;
}

#prof {
  border-radius: 50%;
}

.glyphicon-heart {
  margin-top: 15px;
  margin-left: 17px;
  font-size: 28px;
  color: #fff;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.glyphicon-comment {
  font-size: 28px;
  color: #fff;
  margin-left: 15px;
  text-shadow: -2px 2px black, 2px 2px black, 2px 2px black, 2px -2px black;
}

#l {
  margin-left: 18px;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

#side {
  position: relative;
  left: 68px;
  top: -30px;
}

#inline {
  display: inline;
}

#seeall {
  float: ;
}

#loginpanel {
  width: 350px;
  margin-top: 140px;
  border-radius: 0px;
}

#login {
  width: 260px;
  background-color: #3897f0;
  font-size: 15px;
  color: #fff;
}

#panelbody {
  width: 290px;
  margin-left: 30px;
  border-radius: 0px;
}

#showd {
  border-style: solid;
  border-width: 0.20px;
  width: 350px;
  border-color: #ddd;
}

.margin-top {
  margin-top: 10px;
}

#getapp {
  margin-top: 24px;
  margin-left: 105px;
  font-size: 16px;
}

.stores {
  margin-top: 20px;
  display: inline-block;
}

#stores {
  padding-left: 35px;
  padding-right: 30px;
}

#imgd {
  margin-top: 74px;
  margin-left: 130px;
}

#copyright {
  margin-top: 40px;
  color: #999;
}

#myCarousel {
  position: absolute;
  top: 26%;
  left: 52.5%;
}

#signup {
  color: #999;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  margin-left: 30px;
}

#singup2 {
  color: #999;
  font-weight: bold;
  font-size: ;
  display: inline-block; 
}

#facebook {
  background-color: #3897f0;
  width: 280px;
  margin-top: 10px;
  color: #fff;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 25px;
}

#icon {
  font-size: 20px;
  margin-right: 5px;
}

#signuppanel {
  width: 390px;
  margin-top: 50px;
  border-radius: 0px;
}

#insta {
  margin-left: 11px;
}

#signupbody {
  width: 308px;
  margin-top: 14px;
  margin-left: 42px;
  border-radius: 0px;
}

#signup2 {
  background-color: #3897f0;
  width: 280px;
  margin-top: 10px;
  color: #fff;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 25px; 
}

#showd2 {
  border-style: solid;
  border-width: 0.20px;
  width: 390px;
  border-color: #ddd;
}

#copyright2 {
  margin-top: 60px;
  color: #999;
}

#navbarinsta {
  height: 80px;
  width: 100%;
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #ddd;
  position: fixed;
  z-index: 4;
}

#buttonheader {
  background-color: transparent;
  color: #000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #003569;
  border-radius: 0px;
  margin-left: 84%;
}

#igig {
  font-size: 36px;
}

#imgtop {
  margin-top: 7px;
}

#searchform {
  margin-top: 3.2%;
  margin-left: 73.8%;
}

#input {
  width: 200px;
  height: 30px;
  border-radius: 3px;
  font-size: 15px;
  padding-left: 40%;
}

#searchbutton {
  border-style: none;
  background-color: transparent;
  margin-left: -150px;
}

#searchfont {
  color: #ccc;
}

#badcamp {
  font-size: 25px;
  color: #fff;
  margin-top: 6.5%;
  margin-right: 5%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#material {
  font-size: 27px;
  color: #fff;
  margin-top: 6.5%;
  margin-right: 5%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#user {
  font-size: 25px;
  color: black;
  margin-top: 6.5%; 
}

#headingcolor {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
}

#inline {
  display: inline;
  margin-left: 8px;
  color: #000;
  font-weight: bold;
}

#profimage {
  display: inline;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#postimage {
  height: 580px;
  width: 690px;
}

#bodyp {
  padding: 0px;
}

#downdown {
  margin-top: 100px;
}

#ccolor {
  color: grey;
  margin-left: 17px;
}

#default {
  width: 610px;
}

#tt {
  padding-top: 130px;
  width: 100%;
}

#left {
  padding-left: 85px;
}

#default2 {
  width: 20%;
  height: 90%;
  margin-left: -45px;
  border-style: none;
  position: fixed;
}

#tagbar {
  padding-left: 0px;
}

#postimage2 {
  height: 80px;
  width: 200px;
}

#profimage2 {
  display: inline-block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#story {
  display: inline-block;
  color: grey;
  font-weight: bold;
}

#watch {
  display: inline-block;
  color: #000;
  font-weight: bold;
  float: right;
}

#headingcolor2 {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  border-style: none;
}

.hr {
  border: none;
  height: 1px;
  color: grey; /* old IE */
  background-color: #ddd; /* Modern Browsers */
}

.grey {
  color: grey;
}

#inline2 {
  display: inline-block;
  float: ;
  color: #000;
  font-weight: bold;
  margin-left: 10px;
}

#upup {
  margin-bottom: 12px;
}

#scroll {
  overflow: scroll;
}

#inbox {
  font-size: 40px;
  color: #000;
}

#makepost {
  margin-left: 55%;
  background-color: transparent;
}

#allrow {
  padding-top: 150px;
  width: 100%;
}

#alldiv {
  height: 90px;
  width: 90%;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  padding-top: 9px;
  padding-left: 15px;
}

#allimg2 {
  margin-top: -25px;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: inline-block;
}

#allimg {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: inline-block; 
}

#allinline {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
}

#connect {
  font-weight: bold;
}

#followb {
  float: right;
  margin-top: 15px;
  margin-right: 18px;
  width: 80px;
  background-color: #3897f0;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}

#allpad {
  padding-left: 20px;
}

#sg {
  margin-top: 40px;
  color: #999;
}

#cinline {
  margin-top: -6px;
  color: #999;
}

#tagging {
  display: inline-block;
  color: #003569;
  font-weight: bold;
  margin-right: 8px;
}

#lowlow {
  margin-top: 80px;
  margin-left: 35px;
}

#copyright2 {
  margin-top: 10px;
  margin-right: 20%;
  color: #999;
}

.profile {
  padding-top: 170px;
}

#imagesize {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#top {
  display: inline-block;
  margin-left: 100px;
  padding-top: 0px;
}

#username {
  color: #000;
  font-size: 30px;
  display: inline-block;
  margin-top: -120px;
}

#editprofile {
  display: inline-block;
  margin-left: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
}

#editbutton {
  background-color: transparent;
  color: #000;
  font-weight: bold;  
  width: 140px;
  height: 30px;
  padding-top: 4px;
}

#bottom {
  display: inline-block;
  padding-top: 0px;
  margin-top: 20px;
}

#length {
  display: inline-block;
  font-size: 18px;
  margin-right: 30px;
}

#followers {
  display: inline-block; 
  font-size: 18px;
  margin-right: 30px;
}

#following {
  display: inline-block;
  margin-top: 0px;
  font-size: 18px;
  margin-right: 30px;
}

#useremail {
  margin-top: 12px;
  font-size: 16px;
}

#postrow {
  margin-top: 60px;
}

#bordertop {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ddd;
}

#headerpost {
  margin-left: 50%;
  background-color: transparent;
  border-top-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-color: #000;
  border-top-width: 2px;
  border-radius: 0px;
  color: #000;
  font-weight: bold;
}

#postsdiv {
  margin-bottom: 20px;
}

#moredown {
  margin-bottom: 20px;
}

#profposts {
  height: 300px;
  width: 350px;
}

#tagprofile {
  color: #003569;
  font-weight: bold;
  margin-right: 19px;
  display: inline-block;
}

#padpad {
  margin-top: 40px;
  padding-left: 46px;
  display: inline-block;
  padding-bottom: 30px;
}

#copyright3 {
  display: inline-block;
  margin-top: 30px;
  color: #999;
  margin-left: 38%;
}

#cog {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 27px;
  margin-bottom: 0px;
}

.modal-header {
  padding-top: 5px;
  height: 50px;
}

.modal-header:hover {
  cursor: pointer;
}

.modal-body {
  padding-top: 5px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #ddd;
  height: 50px;
}

.modal-body:hover {
  cursor: pointer;
}

#myModal {
  border-radius: 0px;
  padding-top: 0px;
}

#modal-content {
  margin-top: 55%;
  border-radius: 0px;
  width: 500px;
}

#cancel:hover {
  cursor: pointer;
}

#closeb {
  color: #fff;
  font-size: 38px;
  opacity: 1.0;
  margin-right: 8px;
}

#closeb:hover {
  cursor: pointer;
}

.linkto {
  text-decoration: none;
  color: #333;
}

.linkto:hover {
  color: #333;
  text-decoration: none;
}

.editm {
  margin-top: 9%;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  padding-bottom: 3%;
  height: 770px;
}

.editm2 {
  height: 10%;
  padding-top: 6%;
  
}

.editm2:hover {
  border-width: 3px;
  border-left-style: solid;
  border-color: #000;
}

.lm {
  margin-left: 13%;
}

.lm:hover {
  font-weight: bold;
}

.none {
  text-decoration: none;
  color: #000;
}

.none:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

#editprofpic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
}

#inline5 {
  display: inline-block;
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin-left: 3%;
}

#edittop {
  margin-top: 4%;
  margin-bottom: 5%;
}

#editform {
  display: block;
  font-weight: bold;
}

#editpad {
  padding-left: 22%;
}

#editsubmit {
  background-color: #3897f0;
  color: #fff;
  font-weight: bold;
  width: 18%;
  margin-left: 23%;
  margin-top: 4%;
}

#default2 {
  margin-left: -50px;
  width: 300px;
  height: 750px;
}

#profimage2 {
  display: inline;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

#inline2 {
  display: inline;
  color: #000;
  margin-left: 10px; 
}

.block {
  display: inline-block;
  margin-top: 6%;
}

.block2 {
  display: inline-block;
  margin-top: 0px;
  color: #999;
}

#stories {
  color: grey;
}

#watch {
  float: right;
  color: #333;
}

#copyright4 {
  display: inline-block;
  margin-top: 0px;
  color: #999;
  margin-left: 0px;
}

#headingone {
  background-color: transparent;
}

#scrollbody {
  overflow: scroll;
}

#scrollmargin {
  margin-bottom: 7%;
}

#poster {
  margin-top: 10%;
}

#posterbutton {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}

#footero {
  margin-top: 9%;
  margin-left: ;
}

#copyright3 {
  margin-top: 60px;
  color: #999;
  margin-left: 7%;
}

#moveright {
  margin-left: 3%;
}

.singlepost {
  margin-top: 8%;
}

.inline9 {
  display: inline;
  margin-left: 3%;
  font-weight: bold;
  color: #000;
}

.inlinezero {
  display: inline;
  margin-left: 1%;
}

#commentl {
  margin-left: 2.5%;
  display: block;
  margin-bottom: 3%;
}
