{% extends 'base.html' %}
{% load bootstrap3 %}
  {% load static %}
  {% block content %}
  {{block.super}}
      <div class="row" id="allrow">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" id="allpad">
          <div id="alldiv">
            <img src="{% static 'img/logof.png' %}" alt="facebook logo" class="img-responsive" id="allimg2">
            <span id="allinline">
              <h4 id="connect">Connect to Facebook</h4>
              <h5 id="cinline">Follow your friends</h5>
            </span>
            <a href="" class="follow" id="allbutton"><button class="btn" id="followb">Follow</button></a>
          </div>
          <h4 id="sg">Suggested</h4>
          {% for profile in profiles %}
          <div id="alldiv">
            <img src="{{profile.photo_url|default_if_none:'/profile/images.png'}}" alt="No profile photo" class="img-responsive" id="allimg">
            <h4 id="allinline">{{profile.user.username}}</h4>
            <a href="{% url 'follow' profile.id %}" class="follow" id="allbutton"><button class="btn" id="followb">Follow</button></a>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-3">
        </div>
      </div>
    
  {% endblock %}