{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar" id="navbarinsta">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'timeline' %}"><button class="btn" style="background-color: transparent;
  color: #000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #003569;
  border-radius: 0px;
  margin-left: 530%; margin-right: 0px; padding-right: 12px;"><i class="fa fa-instagram" id="igig"></i></button></a>
          <a class="navbar-brand" href="{% url 'timeline' %}"><img src="{% static 'img/ig.png' %}" alt="instagram logo" class="img-responsive" height="110px" width="110px" style="margin-top: 12.2%; margin-left: 280%; margin-right: 0px;"></a>

          <form class="navbar-form" role="search" action="" style="margin-top: 12.2%;
  margin-left: 270.8%;">
            <div class='input-group'>
              <input type="text" class="form-control" placeholder="Search" name="person" style="width: 200px; height: 30px; border-radius: 3px; font-size: 15px; padding-left: 40%;">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" id="searchbutton"><i class="glyphicon glyphicon-search" id="searchfont"></i></button>
              </div>
            </div>
          </form>
        </div>

        <!--Adding a search from -->
        <div class="col-sm-4 navbar-right">
          <a href="{% url 'suggestions' %}"><i class="fa fa-bandcamp" aria-hidden="true" id="badcamp"></i></a>
          <a href=""><i class="fa fa-heart" aria-hidden="true" id="material"></i></a>
          <a href="{% url 'profile' %}"><i class="fa fa-user-o" aria-hidden="true" id="user"></i></a>
          <a href="{% url 'post' %}"><button type="submit" class="btn" id="makepost"><i class="fa fa-inbox" aria-hidden="true" id="inbox"></i></button></a>
        </div>
        <!--search form end -->
         <div class="col-sm-6 col-md-6">
            <!-- {% if user.is_authenticated %}
            <ul>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{%url 'timeline' %}">Home</a>
                  </li>
                  <li>
                    <a href="/accounts/password/change">Change Password</a>
                  </li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
            {% else %}
            <li>
              <a class='btn btn-default' href="/accounts/login">Login</a>
            </li>

            {% endif %}
          </div> -->
      </div>
    </nav>
  </body>
</html>