{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

    {{block.super}}
      <div class="row">
        <div class="col-md-2 col-lg-2"></div>
        <div class="col-md-6 col-lg-6 singlepost" id="left">
          <div class="panel panel-default" id="default">
            <div class="panel-heading" id="headingcolor">
              <img src="{{post.profile.photo.url}}" alt="{{post.profile.user.username}}" class="img-responsive" height="50px" width="50px" id="profimage">
              <p class="username" id="inline">{{post.profile.user.username}}</p>
            </div>
            
            <div class="panel-body" id="bodyp">
              <img src="{{post.photo.url}}" alt="{{post.caption}}" class="img-responsive" id="postimage">
              <h5 class="text-center">{{post.caption}}</h5>
              <a href="{% url 'like' post.id %}"><i class="glyphicon glyphicon-heart"  id="likes"></i></a>
              <a href="{% url 'comment' post.id %}" class="glyphicon
              glyphicon-comment"></i></a>
              <p id="l">{{like_count}} Likes</p>
              <p class="inline9">{{post.profile.user.username}}</p>
              <p class="inlinezero">{{post.caption}}</p>
              <h4 id="ccolor">comments</a></h4>
              {% for comment in comments %}
              <span id="commentl">
                  <img src="{{comment.user.profile.photo.url}}" alt="{{comment.user.username}}" class="img-responsive" height="50px" width="50px" id="profimage">
                  <p class="inline9">{{comment.user.username}}</p>
                  <p class="inlinezero">{{comment.comment}}</p>
              </span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 singlepost" id="tagbar">
          <div class="panel panel-default" id="default2">
            <div class="panel-heading" id="headingone">
              <img src="{{user.profile.photo.url}}" alt="{{user.profile.username}}" class="img-responsive" id="profimage2">
              <a href=""><p id="inline2">{{user.username}}</p></a>
            </div>
            <div clas="panel-heading">
              <h5 class="block" id="stories">Stories</h5>
              <h5 class="block" id="watch">Watch All</h5>
            </div>
            <div class="panel-body" id="scrollbody">
            {% for profile in profiles %}
              <div id="scrollmargin">
                <img src="{{profile.photo.url}}" alt="{{profile.user.username}}" class="img-responsive" id="profimage2">
                <a href=""><p id="inline2">{{profile.user.username}}</p></a> 
              </div>
            {%  endfor %}    
            </div> 
             <div class="panel-body">
              <h6 class="block2">About Us</h6>
              <h6 class="block2">Support</h6>
              <h6 class="block2">Blog</h6>
              <h6 class="block2">Press</h6>
              <h6 class="block2">API</h6>
              <h6 class="block2">Jobs</h6>
              <h6 class="block2">Privacy</h6>
              <h6 class="block2">Terms</h6>
              <h6 class="block2">Directoty</h6>
              <h6 class="block2">Language</h6>
              <h5 id="copyright4">© 2017 INSTAGRAM</h5>
             </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
      </div>

{% endblock %}